*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Social media part */
.socialMediaContainer{
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.socialMediaLinks ul , .socialMediaLinksTwo ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 15px 0px;
}
.socialMediaLinks ul li , .socialMediaLinksTwo ul li{
    list-style: none;
}
.socialMediaLinks ul li a img , .socialMediaLinksTwo ul li a img{
    height: 40px;
    transition:transform 1s ease;
}
.socialMediaLinks ul li a img:hover , .socialMediaLinksTwo ul li a img:hover{
    transform: scale(1.1);
}
#sclpara{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1.7rem;
}
.socialMediaLinksTwo{
    display: none;
}

/* Main Contact Paragraph part */
.mainContactParaContainer{
    /* border: solid; */
    width: 450px;
}
#mainContactPara{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1.8rem;
    padding: 30px 0px;
}
#contactGmail{
    padding: 12px;
    border-radius: 20px;
    border: 1px rgb(158, 158, 158) solid;
    background-color: white;
    cursor: pointer;
    transition:transform 1s ease,box-shadow 0.2s ease;
}
#contactGmail:hover{
    transform: scale(1.03);
    box-shadow:-1px 2px black ;
}

/* Responsiveness */
@media (max-width:550px){
    .mainContactParaContainer{
        width: 350px;
        /* border: solid; */
        padding-left: 13px;
        margin-bottom: auto;
        margin-top: auto;
    }
    #mainContactPara{
        font-size: 1.6rem;
        padding: 20px 0px;
    }
    #sclpara{
        font-size: 1rem;
        display: none;
    }
    .buttonforgmail{
        text-align: right;
        position: relative;
    }
    .socialMediaLinks{
        display: none;
    }
    .socialMediaLinksTwo ul li a img{
        height: 30px;
    }
    .socialMediaLinksTwo ul{
        gap: 15px;
    }
    .socialMediaLinksTwo{
        display: flex;
        position: absolute;
        top: -8px;
    }
}