* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.workboxcontainer{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}
.workbox{
    /* border: solid; */
    height: 92vh;
    width: 400px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey,-1px 1px 10px rgb(243, 243, 243);
    overflow: hidden;
    background-image: linear-gradient(rgb(9, 8, 8),rgb(6, 6, 106));
    transition: transform 1s;
    
}
.workbox:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.descSec{
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-evenly;
}
.descSec h2 {
    font-size: 1.7rem;
}
.descSec p {
    font-size: 1.rem;
}
.descSec h2 , p{
    color: white;
}
.workimgcont{
    position: relative;
}
.phStruct{
    position: absolute;
    height: 600px;
    /* width: 265px; */
    top: 0px;
    left: 7px;
}
.workimg{
    height:400px;
    width: 241px;
    position: absolute;
    top: 50px;
    left: 79px;
    border-radius: 26px;
    
}
.redirectbtn{
    font-size: 1rem;
    padding: 10px;
    border-radius:35px ;
    border: 1px grey solid;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 1s ;
}
.redirectbtn:hover{
    transform: scale(1.04);
}