* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.workboxcontainer{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}
.workbox{
    /* border: solid; */
    height: 92vh;
    width: 45vw;
    min-width: 450px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey,-1px 1px 10px rgb(243, 243, 243);
    
}
.descpart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    padding: 0px 20px;
}
.mainpic{
    height: 60%;
    width: 100%;
    border-radius: 15px;
}
.workboxend{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.stackimages{
    height: 30px;
}
.redirectbtn{
    font-size: 1.1rem;
    padding: 10px;
    border-radius:35px ;
    border: 1px grey solid;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 1s ;
}